.documents-page
  .row
    big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Backend', 'For your information']", icon='arrows-h')
  .row
    .col-md-12
      panel(heading='Backend Documentation', icon='arrows-h')
        iframe.doc(type='text/html', ng-src='{{currentFile}}')
