.row
  big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Documents', 'For your information']", icon='graduation-cap')

.row.documents-page
  .col-md-12
    panel(heading='Client Documentation', icon='comments')
      iframe.doc(type='text/html', ng-src='{{source}}')
