.algorithm-view {

  #link {
    margin: 0 5px;
  }

  .selected-image img {
    max-width: 100%;
    border: 5px solid #eee;
  }

  canvas {
    cursor: crosshair;
    padding: 5px;
    background: #eee;
  }

  canvas:hover {
    background: #555;
  }

}
