.row
  big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Algorithm', 'Do it']", icon='tasks')
  
.row
  #content.span(ng-if='!algorithm')
    | This algorithm seems to be outdated. Click 
    button.btn-primary.btn-xs(ui-sref='algorithms') here
    = ' '
    | to go back to algorithms page.
  .col-md-12(ng-if='algorithm')
    panel(heading='{{algorithm.name}}', icon='info', go-to='goBack()', go-to-text='Go back')
      p {{algorithm.description}}
    panel(heading='Upload images', icon='cloud-upload', ng-show='state=="upload"')
      .text-muted Upload your images here. Maximum amount of images is 10. To use an image, click on it. To delete it, click on remove.
      br
      form.dropzone(action='/upload', data-smart-dropzone='dropzoneConfig')
    panel(heading='Cropping', icon='crop', go-to='goToState("upload")', go-to-text='Back to Upload', ng-show='state=="cropping"')
      .text-muted Crop your image here. Once your done, click on save to go to next state. Click on reset to undo cropping.
      br
      .col-md-10(dia-image-cropper='')
      
