.algorithm-view
  .row
    big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Algorithm', 'Do it']", icon='tasks')

  .row
    #content.span(ng-if='!algorithm')
      .text-muted This algorithm seems to be outdated. Click
        a#link(ui-sref='algorithms') here
        | to go back to algorithms page.
    .col-md-12(ng-if='algorithm')
      panel(heading='{{algorithm.name}}', icon='info', go-to='goBack()', go-to-text='Go back')
        .text-muted Description:
          = ' '
          span.text-normal {{algorithm.description}}
      panel(heading='Image Gallery', icon='image')
        dia-algorithm-images-gallery
      panel(heading='Apply Algorithm on Image', icon='image', ng-if='selectedImage && state=="highlight"')
        .col-xs-12.col-lg-6
          .canvas-wrapper(ng-if='highlighter')
            span(ng-if='highlighter=="rectangle"')
              i.help.fa.fa-question-circle(tooltip-placement="right", tooltip-html-unsafe='{{rectangleDescription}}')
              = ' '
              | Rectangle Selection
            canvas#rectangle(ng-if='highlighter=="rectangle"', dia-algorithm-rectangle)
            span(ng-if='highlighter=="polygon"')
              i.help.fa.fa-question-circle(ng-if='highlighter=="polygon"', tooltip-placement="right", tooltip-html-unsafe='{{polygonDescription}}')
              = ' '
              | Polygon Selection
            canvas#polygon(ng-if='highlighter=="polygon"', dia-algorithm-polygon)
          .selected-image(ng-if='!highlighter')
            img#image(ng-src='{{selectedImage.url}}')
        .col-xs-12.col-lg-6
          dia-algorithm-inputs
        .col-md-offset-4.col-md-8
          .pull-right
            span.error(ng-if='invalidHighlighter') Please select a {{highlighter}}
            button.btn.btn-primary(ng-click='submit()', ng-disabled='inputForm.$invalid || invalidHighlighter') Submit
