.row
  big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Algorithm', 'Do it']", icon='tasks')
  
.row
  #content.span(ng-if='!algorithm')
    | This algorithm seems to be outdated. Click 
    button.btn-primary.btn-xs(ui-sref='algorithms') here
    = ' '
    | to go back to algorithms page.
  .col-md-12(ng-if='algorithm')
    panel(heading='{{algorithm.name}}', icon='info', go-to='goBack()')
      p {{algorithm.description}}
    .panel.panel-plain.panel-body
      form.dropzone(action='/upload', data-smart-dropzone='dropzoneConfig')
    .panel.panel-plain.panel-body(ng-disabled='true')
      h1.text-center Here will come the image cropping
    .panel.panel-plain.panel-body(ng-disabled='true')
      h1.text-center Here will come the image filters
    .panel.panel-plain.panel-body(ng-disabled='true')
      h1.text-center Here will come the highlighting of regions of interest
      
