# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
public/

# Dependency directories
node_modules
bower_components

# Directory-based project format:
.idea/

# OS X
.DS_Store
