.project-context.hidden-xs.dropdown(dropdown)
  span.label Processing Queue: {{entries.length}}
  span.project-selector.dropdown-toggle(dropdown-toggle)
    | Algorithms in processing
    = ' '
    i.fa.fa-angle-down
  ul.dropdown-menu(ng-if='entries.length')
    li(ng-repeat='entry in entries')
      a
        span.thumb
          img(ng-src='{{entry.item.image.thumbUrl}}')
        span.name.text-capitalize.text-muted {{entry.item.algorithm.name}}
        span.running-information.text-muted(ng-if='!entry.item.started') [waiting]
        span.running-information.text-muted(ng-if='entry.item.started', moment-duration='entry.item.start')
        span.remove-icon.text-danger.i.fa.fa-times-circle(ng-click='cancel(entry)')
