.row
  big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Welcome', 'To the DIVAServices Spotlight project']", icon='home')

.row.dashboard-page
  .col-md-12
    panel(heading='About', icon='comments')
      p Coming soon: Project description
