.row
  big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Welcome', 'To the AI Revolution project']", icon='home')

section#widget-grid(data-widget-grid='')
  .row
    article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #widget-title-widget(data-jarvis-widget='' class='jarviswidget-color-purple')
        header
          span.widget-icon 
            i.fa.fa-comments        
          h2 About
        div
          .widget-body
            | Comming soon: Proect description
  .row
    .col-sm-12
