h1 Output
canvas#output-canvas(ng-if='vm.image')
.table-responsive.output-values(ng-if='vm.output')
  table.table.table-bordered
    thead
      th Selector
      th Value
    tbody
      tr(ng-repeat='(key, value) in vm.output')
        td {{key}}
        td {{value}}
