.panel.panel-plain
  .panel-heading(ng-if='heading || icon')
    i(class='fa fa-{{icon}}', ng-if='icon')
    = ' '
    | {{heading}}
    .text-muted.pull-right.panel-config.btn.btn-primary.btn-xs.hvr-grow-shadow(ng-if='openAlgorithm', ng-click='goTo()')
      | {{goToText}}
      =' '
      i.fa.fa-arrow-left
  .panel-body(ng-transclude='ng-transclude')
