.row
  big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['My Images', 'Manage your images here']", icon='image')

.row.images-gallery
  .col-md-12
    panel(heading='Gallery', icon='list-alt')
      .text-muted(ng-if='!images.length') You currently have no images uploaded. Please
        a.upload-link(ui-sref='images.upload') upload
        | some images
      .vcenter
        .slider(ng-if='images.length')
          img.slide.img-responsive(ng-repeat='image in images', ng-swipe-right='showPrev()', ng-swipe-left='showNext()', ng-show='isActive($index)', ng-src='{{image.src}}')
          a.arrow.prev(ng-click='showPrev()')
          a.arrow.next(ng-click='showNext()')
          ul.nav
            li(ng-repeat='image in images', ng-class="{'active':isActive($index)}")
              img(ng-src='{{image.src}}', ng-click='showImage($index);')
