.results-view
  .row
    big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Results', 'Check it out']", icon='list-ul')
  .row
    .col-xs-12
      panel(heading='Finished tasks', icon='info')
        .text-muted(ng-if='!vm.results.length') You currently have no results. Click
          a#link(ui-sref='algorithms') here
          | to go to algorithms page.
        span(ng-if='vm.results.length')
          .text-muted Hold SHIFT and scroll to move input and output images around. Hold ALT and scroll to zoom in and out. Warning: If the image contains a lot of information (i.e more than 1000 points), moving or zooming might freeze your browser.
          table.display.projects-table.table.table-striped.table-bordered.table-hover(dia-datatable='', data-table-options='vm.tableOptions', click-delete='vm.delete(entry)', cellspacing='0', width='100%')
            thead
              tr
                th
                th Algorithm
                th Description
                th Image
                th Started
                th Ended
                th Duration
                th Actions
            caption.smart-datatable-child-format(data-child-control='td.details-control')
              .wrapper
                .col-xs-12.col-lg-6
                  .table-inputs(dia-table-inputs='', data-input-data='d.input')
                .col-xs-12.col-lg-6
                  .table-outputs(dia-table-outputs='', data-output-data='d.output')
