//- NAVIGATION
navigation
  nav:item(state='dashboard', icon='dashboard', title='Dashboard')
  nav:group(title='Documents', icon='graduation-cap')
    nav:item(state='docs.architecture', icon='university', title='Architecture')
    nav:item(state='docs.api', icon='comments', title='API')
  nav:item(state='algorithms', icon='tasks', title='Algorithms')
  nav:group(title='Images', icon='image')
    nav:item(state='images.gallery', icon='list-alt', title='Gallery')
    nav:item(state='images.upload', icon='upload', title='Upload')
  nav:item(state='results', icon='list-ul', title='Results')
