//- NAVIGATION
span.minifyme(minify-menu='')
  i.fa.fa-arrow-circle-left.hit
navigation
  nav:item(state='dashboard', icon='dashboard', title='Dashboard')
  nav:item(state='docs', icon='graduation-cap', title='Documents')
  nav:item(state='algorithms', icon='tasks', title='Algorithms')
