//- NAVIGATION
navigation
  nav:item(state='dashboard', icon='dashboard', title='Dashboard')
  nav:group(title='Documents', icon='graduation-cap')
    nav:item(state='docs.server', icon='graduation-cap', title='Server')
  nav:item(state='algorithms', icon='tasks', title='Algorithms')
  nav:item(state='images', icon='image', title='MyImages')
