.row
  .col-md-9
    .img-container
      img#cropper-img(ng-src='{{currentImage}}', alt='Picture')
  .col-md-3
    .docs-preview.clearfix
      .img-preview.preview-lg
    .docs-data
      .input-group
        label.input-group-addon(for='dataX') X
        input#dataX.fix-height.form-control(type='text', placeholder='x', disabled, ng-model='dataX')
        span.input-group-addon px
      .input-group
        label.input-group-addon(for='dataY') Y
        input#dataY.fix-height.form-control(type='text', placeholder='y', disabled, ng-model='dataY')
        span.input-group-addon px
      .input-group
        label.input-group-addon(for='dataWidth') Width
        input#dataWidth.fix-height.form-control(type='text', placeholder='width', disabled, ng-model='dataWidth')
        span.input-group-addon px
      .input-group
        label.input-group-addon(for='dataHeight') Height
        input#dataHeight.fix-height.form-control(type='text', placeholder='height', disabled, ng-model='dataHeight')
        span.input-group-addon px
      .input-group
        label.input-group-addon(for='dataRotate') Rotate
        input#dataRotate.fix-height.form-control(type='text', placeholder='rotate', disabled, ng-model='dataRotate')
        span.input-group-addon deg
    h5 Set aspect ratio for your cropper
    .btn-group.btn-group-justified(data-toggle='buttons')
      label.btn.btn-primary.active(ng-click='apply({method: "setAspectRatio", option: "1.7777777777777777"})')
        input.sr-only(name='aspestRatio', value='1.7777777777777777', type='radio')
        span
          | 16:9
      label.btn.btn-primary(ng-click='apply({method: "setAspectRatio", option: "1.3333333333333333"})')
        input#aspestRatio2.sr-only(name='aspestRatio', value='1.3333333333333333', type='radio')
        span
          | 4:3
      label.btn.btn-primary(ng-click='apply({method: "setAspectRatio", option: "1"})')
        input#aspestRatio3.sr-only(name='aspestRatio', value='1', type='radio')
        span
          | 1:1
      label.btn.btn-primary(ng-click='apply({method: "setAspectRatio", option: "0.6666666666666666"})')
        input#aspestRatio4.sr-only(name='aspestRatio', value='0.6666666666666666', type='radio')
        span
          | 2:3
      label.btn.btn-primary(ng-click='apply({method: "setAspectRatio", option: "NaN"})')
        input#aspestRatio5.sr-only(name='aspestRatio', value='NaN', type='radio')
        span
          | Free
.row
  .col-md-2
    .btn-group
      button.btn.btn-primary(data-method='setDragMode', data-option='move', type='button', ng-click='apply({method: "setDragMode", option: "move"})')
        span(tooltip-placement='top', tooltip='Move')
          span.icon.fa.fa-arrows
      button.btn.btn-primary(data-method='setDragMode', data-option='crop', type='button', ng-click='apply({method: "setDragMode", option: "crop"})')
        span(tooltip-placement='top', tooltip='Crop')
          span.icon.fa.fa-crop
      button.btn.btn-primary(data-method='zoom', data-option='0.1', type='button', ng-click='apply({method: "zoom", option: "0.1"})')
        span(tooltip-placement='top', tooltip='Zoom In')
          span.icon.fa.fa-search-plus
      button.btn.btn-primary(data-method='zoom', data-option='-0.1', type='button', ng-click='apply({method: "zoom", option: "-0.1"})')
        span(tooltip-placement='top', tooltip='Zoom Out')
          span.icon.fa.fa-search-minus
      button.btn.btn-primary(data-method='rotate', data-option='-45', type='button', ng-click='apply({method: "rotate", option: "-1"})')
        span(tooltip-placement='top', tooltip='Rotate Left')
          span.icon.fa.fa-rotate-left
      button.btn.btn-primary(data-method='rotate', data-option='45', type='button', ng-click='apply({method: "rotate", option: "1"})')
        span(tooltip-placement='top', tooltip='Rotate Right')
          span.icon.fa.fa-rotate-right
  .col-md-7#ratationInput
    form.form-inline
      .form-group
        label(for='rotationInput') Set rotation angle
        .input-group
          span.input-group-addon
            i.fa.fa-hand-o-right
          input.form-control(type='text', id='rotationInput', ng-model='rotationAngle')
      .pull-right
        button.btn.btn-primary(ng-click='apply({method: "clear"})')
          span(tooltip-placement='top', tooltip='Remove cropper')
            i.fa.fa-refresh
            = ' '
            | Remove
        button.btn.btn-primary(ng-click='apply({method: "replace"})')
          span(tooltip-placement='top', tooltip='Reload origin image')
            i.fa.fa-reply
            = ' '
            | Reload Origin
        button.btn.btn-primary(ng-click='apply({method: "reset"})')
          span(tooltip-placement='top', tooltip='Reset your current changes')
            i.fa.fa-remove
            = ' '
            | Reset
        button.btn.btn-primary(ng-click='apply({method: "reload"})')
          span(tooltip-placement='top', tooltip='Reload the untouched image')
            i.fa.fa-refresh
            = ' '
            | Reload Cropped
        button.btn.btn-primary(ng-click='apply({method: "save"})')
          span(tooltip-placement='top', tooltip='Save and go to next state')
            i.fa.fa-check
            = ' '
            | Save
