#logo-group
  span#logo
    img(src='/images/logo.png', alt='AngularJS')

dia-processing-algorithms

.pull-right
  #minify-menu.btn-header.pull-right
    span
      a(minify-menu='', title='Minify Menu')
        i.fa.fa-arrow-circle-left
  #hide-menu.btn-header.pull-right
    span
      a(toggle-menu='', title='Collapse Menu')
        i.fa.fa-reorder
  #fullscreen.btn-header.transparent.pull-right
    span
      a(full-screen='', title='Full Screen')
        i.fa.fa-arrows-alt
