.row
  big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Algorithms', 'Get your work done']", icon='tasks')

.row.algorithms-page
  .col-xs-12
    panel(heading='Available algorithms', icon='tasks')
      .col-xs-12.text-muted(ng-if='!vm.algorithms.length') We are sorry. There are no algorihtms available
      .col-xs-12(ng-if='vm.algorithms.length')
        table#algorithm-table.display.projects-table.table.table-striped.table-bordered.table-hover(dia-datatable='', data-table-options='vm.tableOptions', cellspacing='0', width='100%')
          thead
            tr
              th Algorithm
              th Host
              th Description
              th Last Changed
              th Actions
