.documents-page
  .row
    big-breadcrumbs.col-xs-12.col-sm-7.col-md-7.col-lg-4(items="['Documentation', 'For your information']", icon='graduation-cap')
  .row
    .col-md-12
      panel(heading='Backend Documentation', icon='exchange')
        iframe.doc(type='text/html', ng-src='{{vm.currentFile}}')
